.single-container{
  padding-top: 8%;
}

.single-post {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 0 100px 0 100px;
}

.single-post::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 39%;
  width: 52%;
  border-bottom: 1px solid black;
}

.single-info {
  text-transform: uppercase;
}

.single-info h2 {
  width: 50vw;
  max-width: 420px;
  font-size: 3vw;
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
}

.single-image {
  max-width: 100%;
  height: auto;
}

.single-content img {
  width: auto;
  height: 100%;
  max-height: 500px;
}

.banner-content {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.banner-button {
  font-family: "Space Mono", monospace;
  background-color: #D8D8D8;
  cursor: pointer;
  width: 272px;
  height: 50px;
  padding: 8px 15px;
  border-radius: 2px;
  gap: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.previous-post-image,
.next-post-image {
  width: 60px;
  height: 60px;
  cursor: pointer;
  object-fit: cover;
}



/**Similar photos**/
.similar-photo{
  border-top: 1px black solid;
  padding-bottom: 70px;
}

.similar-photo, button{
  font-family: "Space Mono", monospace;
}

h3{
  font-family: "Space Mono", monospace;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: 40px 0 40px 150px;
  text-transform: uppercase;
}

