/*********** Header ***********/
html {
  margin-top: 0 !important;
}

body {
  font-family: "Space Mono", monospace;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.031372549);
}

nav {
  margin-right: 130px;
}

.logo {
  margin-left: 130px;
  max-width: 250px;
}

/*********** Menu ***********/
.menu {
  display: flex;
  gap: 50px;
}

.menu li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.menu a:hover {
  font-weight: 700;
}

/*********** Modal ***********/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.modale {
  position: fixed;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Assure que la modale est au-dessus de l'overlay */
  display: none;
}

.modale-contact {
  position: relative;
  background: white;
  max-width: 600px;
  width: 80%;
  padding: 15px 0;
  border: 5px solid black;
}

.modale-title_container {
  background-image: url("../img/Contact.png");
  background-repeat: repeat;
  overflow: hidden;
  margin-bottom: 10px;
  width: 100%;
  height: 107px;
}

.modale-informations {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 265px;
  margin: auto;
}

.modale-informations input {
  max-width: 280px;
}

.wpcf7-submit {
  width: 350px;
}

.wpcf7-form {
  display: flex;
  flex-direction: column;
}

.wpcf7-form p label {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.wpcf7-form p input {
  height: 30px;
  padding: 10px;
}

.wpcf7-form p textarea {
  padding: 10px;
}

.wpcf7-form p .wpcf7-text,
.wpcf7-form p .wpcf7-email,
.wpcf7-form p textarea {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
}

.wpcf7-form p .wpcf7-text:focus,
.wpcf7-form p .wpcf7-email:focus,
.wpcf7-form p textarea:focus {
  border: 3px solid black;
}

.wpcf7-form p .wpcf7-submit {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-weight: 600;
  width: 263px;
  height: 50px;
  border: 1px solid #B8BBC2;
}


/***********Photo_block************/
.block-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  object-fit: none;
}

.wp-image{
  width: 564px;
  height: 495px;
}


/***********Hero************/
.hero-area .hero-thumbnail {
  position: relative;
  margin: auto;
  align-items: center;
  width: 100%;
  max-height: 966px;    
  overflow: hidden;
}

.hero-area img {    
  margin: auto;
  /* object-fit: contain; */
  object-fit: cover;
  object-position: 50% 50%;
  min-width: 100%;
  height: auto;
  max-height: 966px;
}

.hero-area .hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 96px;
  line-height: 142px;
  font-style: italic;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  z-index: 2;
 color: transparent;
}


/*********** Filters ***********/
form {    
  flex-wrap: nowrap;
}

.filter-area {
  width: 80%;
  min-width: 125px;
  max-width: 1150px;
  margin: auto;
  overflow: hidden;
}

.filter-area form {
  justify-content: space-between; 
  padding: 20px 0;
}    
  
.filter-area .filterleft {
  gap: 20px;
  width: 560px !important; 
}
  
.filter-area .filterright  {
  width: 275px !important;
} 
  
.filter-area .filterleft,
.filter-area .filterright  {
  justify-content: center;
} 

.filter-area p,
.filter-area option {    
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.filter-area p {
  text-transform: uppercase;
}

.filter-area option {
  text-transform: capitalize;
}

.filter-area select,
.filter-area #date {
  height: 40px !important;
}

.filter-area .select-filter {
  width: 270px;
  position: relative;
  display: inline-block;
}

.filter-area .option-filter {
  width: 100%;
  height: 40px;
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 0;
  padding: 0 24px;
}


/*********** Index-Photos ***********/

.photo-block {
  width: 565px;
  margin: 0 10px 20px;
}

#load-more {
  width: 272px;
  height: 50px;
  border-radius: 2px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: #D8D8D8;
  cursor: pointer;
}

.see-more {
  width: 89px;
  height: 18px;
  font-family: "Space Mono", monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}

/*********** Footer ***********/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px black solid;
  width: 100%;
}