/*********** Header ***********/
header {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
height: 80px;
box-shadow: 0 4px 4px 0 #00000008;
}
nav {
margin-right: 100px;
}
.logo {
margin-left: 100px;
max-width: 250px;
}
 

/*********** Menu ***********/
.menu {
    display: flex;
    gap: 50px;
}

.menu li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: black;
    text-decoration: none;
    font-family: 'SpaceMono', sans-serif;
    text-transform: uppercase;
}

.menu a:hover {
    font-weight: 700;
}



/*********** Modal ***********/
.modale{
    width:100%;
    height:100%;
    display: none;
    justify-content: center;
    align-items:center;
}

.modale-contact{
    position:relative;
    background:white;
    max-width:600px;
    width:80%;
    padding:15px 0;
    border: 5px solid black;
}

.modale-title_container {
    background-image: url('../img/Contact.png');
    background-repeat : repeat;
    overflow : hidden;
    margin-bottom: 10px;
    width:100%;
    height: 107px;
}

.modale-informations {    
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 5px 0 40px;
    max-width: 265px;
    margin: auto;
}

.modale-informations input{
    max-width: 280px;
}

.wpcf7-submit{
    width: 350px;
}

.wpcf7-form {
    display: flex;
    flex-direction: column;
}


.wpcf7-form p {
    padding-top: 25px;
}

.wpcf7-form p label {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.wpcf7-form p input {
    height: 40px;
    padding: 10px;
}

.wpcf7-form p textarea {
    padding: 10px;
}

.wpcf7-form p .wpcf7-text,
.wpcf7-form p .wpcf7-email,
.wpcf7-form p textarea {
    width: 100%;
    border-radius: 8px;
    border: 1px solid black;
}

.wpcf7-form p .wpcf7-text:focus,
.wpcf7-form p .wpcf7-email:focus,
.wpcf7-form p textarea:focus {    
    border: 3px solid black;
}

.wpcf7-form p .wpcf7-submit {     
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    width: 263px;
    height: 50px;
}



/*********** Footer ***********/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px black solid;
    width: 100%;
    }