/*********** Header ***********/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 4px 0 #00000008;
    }
    nav {
    margin-right: 100px;
    }
    .custom-logo-link {
    margin-left: 100px;
    }
    .custom-logo {
    max-width: 250px;
    }
 

/*********** Menu ***********/
.menu {
    display: flex;
    gap: 50px;
}

.menu li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: black;
    text-decoration: none;
    font-family: 'SpaceMono', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.menu a:hover {
    font-weight: 700;
}



/*********** Modal ***********/
.modale{
    width: 597px;
    height: 769px;
}

.modale-form{
    border: solid 5px;
}

.modale-form-image{
    width: 885.96px;
    height: 106.05px;
}

.modale-code{
    display: flex;
    justify-content: center;
}

.name-label,
.mail-label,
.image-label,
.message-label,
.submit-label{
    width: 263px;
    height: 63px;
    top: 170px;
    left: 165px;
    padding: 1px, 0px, 0px, 0px;
    gap: 2px;
}

.wpcf7-form-control{
    width: 263px;
    height: 40px;
    border-radius: 8px;
    border-color: #B8BBC2;
}


/*********** Footer ***********/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px black solid;
    width: 100%;
    }